
/* Styles pour la grille CSS */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.grid {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(50, 10px);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.alive {
    background-color: #4CAF50;
}
